.swiper {
  width: 980px;
  height: 524px;
  overflow-y: visible;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #F9C06A;
  background-color: #FFF9F1;
}
.swiper-button-next,.swiper-button-prev{
  color: #603809;
}